services:
  n8n:
    image: n8nio/n8n:latest
    restart: unless-stopped
    environment:
      - N8N_HOST=${DOMAIN}
      - N8N_PROTOCOL=https
      - N8N_EDITOR_BASE_URL=${WEBHOOK_URL}
      - WEBHOOK_URL=${WEBHOOK_URL}
    ports:
      - "5678:5678"
    volumes:
      - ${N8N_BACKUP_DIR}:/home/node/.n8n:Z  # Added :Z
    networks:
      - web

networks:
  web:
    external: true